Cursos.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="evento">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="curso" minOccurs="7" maxOccurs="7">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="ponente" type="xs:string"/>
                            <xs:element name="duracion" type="xs:integer"/>
                            <xs:element name="modalidad" type="xs:string"/>
                            <xs:element name="dia" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:integer" use="required"/>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required"/>
            <xs:attribute name="carrera" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>